.DESCTOP{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;


background: #FFFFFF;
}
.header{
    position: absolute;
    height: 515px;
    left: 0%;
    right: 0%;
    top: 0px;
    

}
.logIn{
    position: absolute;

right: 42px;
top: 42px;

/* /Title3 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Sky/Lightest */

color: #F7F9FA;
}
.bg{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(../images/bg.png);
background-position: center;
background-size: cover;
}
.titleBox{
/* Title Box */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 572px;
height: 172.28px;
left: calc(50% - 572px/2);
top: calc(50% - 172.28px/2 - 0.73px);
}
.zango{
    


/* /Title1 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

text-align: center;

/* Sky/Lightest */

color: #F7F9FA;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.youWantIt{


/* /Title2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 36px;
/* identical to box height, or 112% */

text-align: center;

/* Sky/Lightest */

color: #F7F9FA;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.flex-container{
    display: flex;
}
.doorstep{
    
    position: absolute;
width: 375px;
height: 200px;
/* left: 65px; */
top: 570px;

}
.delivery_image{
    position: absolute;
width: 375px;
height: 153px;
left: 0px;
top: 0px;
background: url(../images/delivery.png);
background-position: center;
background-size: cover;

border-radius: 16px 16px 0px 0px;
}
.weDeliver{
    position: absolute;
width: 327px;
height: 24px;
left: 10px;
top: 165px;

/* Large/Normal/Regular */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


/* Ink/Darkest */

color: #090A0A;
}
.rectangle{
    
position: absolute;
width: 375px;
height: 200px;
left: 0px;
top: 0px;


/* Sky/White */

background: #FFFFFF;
/* Shadow/Medium */

box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
border-radius: 16px 16px 0px 0px;
}

.dishes{
    position: absolute;
    width: 1316px;
height: 304px;
top: 840px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.dish-contain{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    
    position: absolute;
    width: 327px;
    left: calc(50% - 327px/2 - 494.5px);
    top: 0%;
    bottom: 0%;

}
.dImage{
    position: absolute;
width: 130px;
height: 130px;
left: 98.5px;
top: 0px;

background: url(../images/pngegg.png);
background-position: center;
background-size: cover;

}

.satisfy{
    position: absolute;
width: 327px;
height: 32px;
left: 0px;
top: 165px;

/* /Title3 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

/* Ink/Darkest */

color: #090A0A;
}
.quickBrown{
    position: absolute;
width: 327px;
height: 72px;
left: 0px;
top: 232px;

/* Large/Normal/Regular */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 133% */


/* Ink/Darkest */

color: #090A0A;
}
