body {
    margin: 0px;
}

.DESKTOP {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: relative;

    background: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 536px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;



}

.logIn {
    position: absolute;
    right: 96px;
    top: 64px;

    /* /Title3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* Sky/Lightest */

    color: #F7F9FA;

}

.bg {
    background: url(../images/bg.png);
    background-position: center;
    background-size: cover;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.zango {



    width: 150px;
    height: 56px;

    /* /Title1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */

    text-align: center;

    /* Sky/Lightest */

    color: #F7F9FA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.youWantIt {


    width: 337px;
    height: 36px;

    /* /Title2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    text-align: center;

    /* Sky/Lightest */

    color: #F7F9FA;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    /* /Title2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    text-align: center;

    /* Sky/Lightest */

    color: #F7F9FA;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 64px;
    column-gap: 128px;
    row-gap: 64px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.featureBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 12px;
    gap: 12px;

    width: 277.33px;

    /* Sky/White */

    background: #FFFFFF;
    /* Shadow/Large */

    box-shadow: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);
    border-radius: 16px 16px 0px 0px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.feature_box_image {
    width: 277.33px;
    height: 181px;

    border-radius: 16px 16px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.feature1Image {
    background: url(../images/delivery.png);
    background-position: center;
    background-size: cover;

}

.weDeliver {
    width: 277.33px;
    height: 24px;

    /* Large/Normal/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Ink/Darkest */

    color: #090A0A;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.satisfy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 64px;
    column-gap: 128px;
    row-gap: 64px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 256px;
    height: 317px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dishes_box_image {
    width: 256px;
    height: 173px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}




.dish1Image {
    background: url(../images/pngegg.png);
    background-position: center;
    background-size: cover;
}

.localFav {
    width: 193px;
    height: 32px;

    /* /Title3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Ink/Darkest */

    color: #090A0A;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.dishInfo {
    width: 327px;
    height: 72px;

    /* Large/Normal/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;


    /* Ink/Darkest */

    color: #090A0A;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

}
