*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    background: #FFFFFF;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    flex: none;
    order: 0;
    flex-grow: 1;
}
 
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 64px;
    gap: 48px;

    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;

    
    background: #F2F4F5;
    
    border-radius: 15px;
    padding: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.f1-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    
    width: 100%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#rest-name{
    /* width: 658px; */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    
    color: #090A0A;
    
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#rest-tags, #rest-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    
    color: #090A0A;
    
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 16px;
    
    width: 210px;
    height: 160px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.rest-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    
    flex: none;
    order: 1;
    flex-grow: 1;
}

#rest-img{
    background: url(../images/Restaurants_images/Rest_1.png);
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 1;

    border-radius: 16px;

    background-size: cover;
    background-position: center;
}

.frame2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.f2-1, .f2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    flex: none;
    flex-grow: 0;
}

.review, .rateus{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
    
    flex: none;
    flex-grow: 0;
}

.frame2-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    width: 400px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#search{
    max-width: 560px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #E3E5E6;
    border-radius: 45px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    padding: 0 16px;
}

.svg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 32px;
    height: 32px;
    
    box-shadow: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);
    border-radius: 45px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#lens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 40px;
    height: 40px;
    
    border-radius: 45px;
    
    flex: none;
    order: 1;
    flex-grow: 0;

    background-color: #C6C4FF;
}

#lens:hover{
    box-shadow: 0px 1px 24px 8px rgba(20, 20, 20, 0.08);
    background-color: #6B4EFF;
    transition: 0.2s;
}

.frame3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 100%;
    flex: none;
    order: 2;
    flex-grow: 0;
}

#food-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    max-width: 640px;
    width: 100%;

    flex: none;
    order: 1;
    flex-grow: 0;
}
