*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 100%;

    background: #FFFFFF;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 100%;
    
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.frame1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
    gap: 10px;

    width: 100%;
    height: 211px;

    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.f1-1{
    height: 100%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    position: relative;
}

.bg{
    background: url(../images/profileBG.png);
    width: 100%;
    height: 100%;
    flex: none;
    order: 0;
    flex-grow: 1;

    background-size: cover;
    background-position: center;
}

.profile1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    left: 67px;
    top: 19.92%;
}

.pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 128px;
    height: 128px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.pic2{
    width: 128px;
    height: 128px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.profileSvg{
    position: absolute;
    left: 12%;
    top: 12%;
}

.bg1{
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: #F2F4F5;
}

.frame2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 426px;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.f2-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;

    width: 200px;
    height: 426px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.back{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 64px;
    
    width: 160px;
    height: 280px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

    position: relative;
}

.line{
    width: 278px;
    height: 0px;
    border: 1px solid #CDCFD0;
    transform: rotate(90deg);
    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    left: 20px;
}

.selectors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0px;
    gap: 32px;

    width: 117px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.profile{
    width: 117px;
    height: 24px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    color: #000000;
    
    flex: none;
    flex-grow: 0;
}

.cart{
    width: 117px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.orderHistory{
    width: 117px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #000000;

    flex: none;
    flex-grow: 0;
}

.logout{
    width: 117px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #D3180C;

    flex: none;
    flex-grow: 0;
    cursor: pointer;
    text-decoration: underline;
}

.f2-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    /* width: 768px; */
    height: 298px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 64px;
    width: 100%;
    height: 298px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.entries{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    max-width: 640px;
    height: 186px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 64px;
    flex-shrink: 1;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 48px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 48px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.text2{
    width: 104px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fields{
    min-width: 160px;
    height: 40px;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.change{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 64px;
    gap: 64px;
}

#edit{
    width: 256px;
    height: 48px;
    background: #6B4EFF;
    border-radius: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#save{
    width: 256px;
    height: 48px;
    background: #6B4EFF;
    border-radius: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#edit, #save {
    color: white;
    border: none;
}

#edit:hover, #save:hover {
    border: 1px solid #6B4EFF;
    color: #6b4eff;
    background: #F7F9FA;
    transition: 0.2s;
}

#save:disabled{
    background: #FFFFFF;
    color: #979C9E;
    border: #202325 1px solid;
}

#edit:disabled{
    background: #FFFFFF;
    color: #979C9E;
    border: #202325 1px solid;
}

input{
    height: 32px;
    border: 1px solid #6B4EFF;

    background: #FFFFFF;

    border: 1px solid #6B4EFF;
    border-radius: 8px;
    width: 100%;
}
